
#Types file's ignored by Git
*.gitignore
*.cproject
*.project

#Directorires ignored by Git
/.devcontainer
/.settings
/.vscode
/build

#Especific files ignored by Git
sdkconfing
sdfconfig.old
LICENSE